body {
	width: 100%;
	margin: 0px;
	overflow: hidden;
	height: 100vh;
	margin-bottom: 0px;
	padding-bottom: 0px;
	color: white;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#logo {
	width: auto;
	height: 10vh;
}
nav {
	width: 100%;
	height: 10vh;
	font-size: 6vh;
	display: flex;
	flex-direction: row;
	font-weight: bold;
	background-color: rgb(26, 2, 49);
}
nav div {
	margin: 5px;
}
img {
	padding-left: 10px;
	padding-right: 10px;
}
/* Actual editor */
#actual-editor {
	background-color: rgb(28, 27, 29);
	color: white;
	border: none;
	width: 100%;
	height: 30%;
	outline: none;
	animation: cur-anime 1s infinite;
}
#actual-editor:active {
	outline: none;
	border: none;
}
@keyframes cur-anime {
	0% {
		caret-color: white;
	}
	50% {
		caret-color: transparent;
	}
	100% {
		caret-color: white;
	}
}
/* QL editor and output */
#ql-editor-grid {
	height: 90vh;
	align-content: space-between;
	width: 100%;
	padding-bottom: 0px;
	margin-bottom: 0px;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	column-gap: 20px;
	background-color: rgb(42, 11, 83);
}
#ql-editor-grid div:first-child {
	margin-right: 5px;
	display: flex;
	flex-direction: column;
}
#ql-editor-grid div:last-child {
	margin-left: 5px;
}
#ql-editor-grid div {
	resize: none;
	font-family: "Fira Code";
	color: white;
	border: 0px;
	font-size: larger;
	padding-top: 10px;
	background-color: rgb(5, 35, 49);
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 90vh;
}
/* Sidebar */
.opts {
	height: 90vh;
	width: 50px;
	background-color: whitesmoke;
	padding: 10px;
}
.opt {
	background-color: whitesmoke;
	cursor: pointer;
	color: black;
	border: 4px solid black;
	border-radius: 15px;
	width: 100%;
	height: 50px;
	font-size: 10vh;
}
/* Main */
main {
	display: flex;
	padding-bottom: 0px;
	margin-bottom: 0px;
	flex-direction: row;
}
/* Syntax highlighting */
.ql-comment {
	color: grey;
}
.ql-text {
	color: skyblue;
}
.ql-keyword {
	color: rgb(253, 128, 128);
}
.ql-sym {
	color: yellow;
	border: 1px solid white;
	animation: border-anime 1s infinite;
}
.ql-variable {
	color: #c39ef3;
}
.ql-err {
	color: #c39ef3;
	text-decoration: underline red;
}
/* Brackets animation */
@keyframes border-anime {
	0% {
		border: 0.3px solid transparent;
	}
	50% {
		border: 0.3px solid white;
	}
	100% {
		border: 0.3px solid transparent;
	}
}
/* Tooltip for variables */
.ql-variable:hover .variable-desc {
	visibility: visible;
}
.variable-desc {
	font-size: medium;
	width: min-content;
	height: min-content;
	color: rgb(117, 243, 174);
	visibility: hidden;
	position: absolute;
	margin-right: 5%;
	z-index: 1;
	background-color: #192733;
	border-radius: 10px;
}
/* Send data button */
#send-data {
	background-color: rgb(0, 153, 255);
	color: white;
	position: absolute;
	border: none;
	border-radius: 10px;
	padding: 10px;
	font-weight: bold;
	font-size: 30px;
	z-index: 1;
	pointer-events: all;
	left: 900px;
	cursor: pointer;
	top: 275px;
}
#send-data:disabled {
	background-color: rgb(2, 114, 189);
}
#app {
	padding: 0px;
	margin: 0px;
}
.loader {
	border: 5px solid #3498db;
	border-radius: 50%;
	border-top: 5px solid whitesmoke;
	width: 20px;
	height: 20px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/* Autocomplete list */
#autocomplete {
	position: absolute;
	padding: 0px !important;
	z-index: 2;
	top: 100px;
	background-color: transparent;
	left: 300px;
	border: 0px;
}
#autocomplete-list {
	list-style-type: none;
	margin: 0px;
	padding: 0%;
	width: 100%;
	background-color: #1b1b1b;
	border: 1px solid gray;
	font-size: small;
}
#autocomplete-list li {
	padding: 5px;
	cursor: pointer;
	background-color: #1b1b1b;
	color: #3498db;
}
#autocomplete-list li:hover {
	background-color: #444344;
}
